@font-face {
    font-family: open-sans;
    src: url(OpenSans-Light.ttf);
}

body {

	margin: 0;
	padding: 0;

	background-color: #F0FFFE;
}

#result {
	font-family: open-sans;
	text-align: left;
	font-weight: bolder;
	font-size: 200%;
	padding: 40px;
}